<header class="page-header">
  <div class="page-wrapper page-header__content">
    <div>
      <div class="logo-design">
        bitstackcode
      </div>
      <p>Notes of a backend engineer<p>
    </div>
    <nav>
      <ul role="list" class="nav-list flex-group">
      <li>
        <a href="/me/">about</a>
      </li>
      <li>
        <a class="active" href="/notes/">notes</a>
      </li>
      </ul>
    </nav>
  </div>
</header>