<header class="page-header">
  <div class="page-wrapper page-header__content">
    <p class="logo-text-design">
      Chiamaka Mbah
    </p>
    <nav>
      
      <ul role="list" class="nav-list flex-group">
        <li>
            <a href="/notes/">notes</a>
          </li>
          <li>
            <a href="/me/">about</a>
          </li>
      </ul>
    </nav>
    </div>
</header>