<ul role="list" class="articles__list flow">
    {%- for post in collections.life | reverse -%}
        <li>
            <article class="snippet">
                <a href="{{post.url}}" class="snippet__title">{{ post.data.art_title }}</a>
                <div class="snippet__meta">
                    <p>{{post.date | postDate}}</p>&nbsp;&nbsp;
                    <a href="/tags/life">#{{post.data.tags[1]}}</a>
                </div>
                <p class="snippet__body">{{ post.data.description }}</p>
            </article>
        </li>
    {%- endfor -%}
</ul>