@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fs-250: 0.925em;
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-550: 1.75em;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Nunito Sans", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --hd-primary-200: #FF7043;

  /* --bg-primary-200: #F5F5F5; */

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--hd-primary-200);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
  min-height: 100vh;
  margin-inline: auto;
  padding-bottom: 1.5em;
  background-color: var(--bg-primary-200);
}


h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-700);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

main{
  flex: 1;
  padding: 2em 0;
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */
   footer{
    font-size: 0.7em;
   }

   footer div{
    line-height: 1.6em;
   }


.container {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-550);
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */

.page-header {
  padding: 2em 0 0 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover,
.active {
  border-bottom: 5px solid var(--hd-primary-200);
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  color: var(--hd-primary-200);
}


/* //////////////////////
  Homepage
  /////////////////////// */

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  width: 550px;
  margin: 0.8em 0;
}

.articles__list li{
  padding-bottom: 2em;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    padding-top: 2em;
    margin-bottom: 3rem;
    font-family: var(--ff-body);
    font-size: var(--fs-250);
    width: 70%;
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
  }

  .article-content p{
    padding-bottom: 1.3em;
  }

  .nav-list li a.active {
    border-bottom: 5px solid var(--hd-primary-200);
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet__image {
  /* grid-area: image; */
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  /* grid-area: art_title; */
  cursor: pointer;
}
.snippet__meta {
  /* grid-area: meta; */
  display: flex;
  color: var(--clr-neutral-300);
  font-size: 0.7em;
  padding: 0.3em 0 1.2em 0;
  font-style: italic;
}
.snippet__meta a{
  color: var(--clr-neutral-400);
  text-decoration: none;
  padding-left: 0.3em;
}
.snippet__body{
  grid-area: body;
  font-size: 0.88em;
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}


.logo-text-design{
  font-size: 1.3em;
  color: var(--hd-primary-200);
  font-weight: bold;
}

.logo-design {
  width: 600px;
  height: auto;
  color: var(--hd-primary-200);
  font-weight: bold;
  font-size: 2em;
  /* height: auto; */
}

.logo-design img{
  height: 100%;
  width: 100%;
}


.page-header__content div p{
  font-size: 1em;
}

footer div p:last-child a{
  color: var(--hd-primary-200);
}

@media  (max-width: 37.5em){
  .logo-design{
    width: 230px;
  }
  .nav-list li a{
    font-size: 0.7em;
  }
  .logo-text-design{
    font-size: 0.8em;
  }
  .nav-list li a.active{
    border-bottom: 2.5px solid var(--hd-primary-200);
  }

  .page-header__content div p{
    font-size: 0.7em;
  }
  
  .articles__list{
    width: 300px;
  }

  .snippet, .me__content{
    font-size: 0.9em;
  }

  .article-content p{
    font-size: 0.85em;
  }

  .article-title{
    font-size: 1.2em;
  }
  .main-article{
    width: 100%;
  }

}

@media (min-width: 37.5em) and (max-width: 56.25em) {
  .logo-design{
    width: 400px;
  }

  .nav-list li a{
    font-size: 0.85em;
  }
  .nav-list li a.active{
    border-bottom: 2.5px solid var(--hd-primary-200);
  }

  .page-header__content div p{
    font-size: 0.85em;
  }

  .logo-text-design{
    font-size: 0.97em;
  }

  .articles__list{
    width: 500px;
  }

  .snippet, .me__content{
    font-size: 0.85em;
  }

  .main-article{
    width: 100%;
  }

  .article-content p{
    font-size: 0.92em;
  }

  .article-title{
    font-size: 1.1em;
  }
}




